/* style.css */
body {
    font-family: sans-serif; /* Choose a suitable font */
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light background color */
}

.container {
    max-width: 960px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {

    margin-bottom: 40px;
}

.header img {
    max-width: 100%;
    height: auto;
}

.partner-image {
    width: 100%;
    height: auto;
    z-index: -1; 
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; /* Place the image behind other content */
}

.element-with-background {
    background-image: url("vndevents.jpeg"); /* Set the image */
    background-repeat: no-repeat;  /* Prevent image tiling */
    background-position: center;  /* Center the image */
    background-size: contain; /* Or 'contain', depending on your needs */
    padding: 20px; /* Add padding to create space for the text */
  }

h1 {
    font-family: 'Great Vibes', cursive;
    color: #06585f;
    font-weight: 800;
    font-style: normal;
    font-size: 4rem; /* Adjust as needed */
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Lobster", sans-serif;
    color: #d23332;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem; /* Adjust as needed */
    margin-top: 0;
}


h3 {
    font-family: "Lobster", sans-serif;
    color: #06585f;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem; /* Adjust as needed */
    margin-top: 0;
}

h4 {
    font-family: "Lobster", sans-serif;
    color: #d23332;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem; /* Adjust as needed */
    margin-top: 0;
}

.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.location, .partner, .organizer {
    width: 30%; /* Adjust as needed */
    margin-bottom: 20px;
}

.icon {
    vertical-align: middle; /* Align the icon with the middle of the text */
    height: 1em; /* Scale the icon relative to the font size */
    width: auto; /* Maintain aspect ratio */
    padding-left: 0;
    padding-right: 0;
  }

/* Add more styles as needed to match the poster's design */

a:link { 
    color: #d23332; /* Color for unvisited links */
    text-decoration: none;
  }
  
  a:visited {
    color: #d23332; /* Color for visited links */
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

  .partner {
    width: 100%; /* Default width for smaller screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-bottom: 20px; /* Add some space between   
   the divs */
  }

  .partner-image img {
    width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
    padding-left: 10%; /* 10% padding on the left */
    padding-right: 10%; /* 10% padding on the right */
    box-sizing: border-box; 
  }

  @media (min-width: 768px) { /* Adjust the breakpoint as needed */
    .partner {
      width: 33%; /* Distribute the divs equally in one row */
      display: inline-block; /* Or use 'float: left;' */
      
    }
    .fixed_height {
      height: 250px;
    }  
  }

  .fixed_height {
    padding: 30px;
  }

  p {
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1rem;
    color: #06585f;
  }

  .dashed-underline {
    display: inline-block;
    font-family: "Lobster", sans-serif;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #d23332; /* Example background color */
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Adjust the radius for more or less rounded corners */
    border: none; /* Remove any default border */
    cursor: pointer; /* Indicate that it's clickable */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    font-size: 2rem; /* Adjust as needed */

  }

  .dashed-underline:hover {
    background-color: #e23332; /* Example background color */
  }

  hr {
    border-color: #06585f; /* Change "red" to your desired color */
  }